{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<section>
    <h1>Вход</h1>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        <label for="email">{{ form.email.label }}</label>
        {{ form.email(size=32) }}
        {% if form.email.errors %}
            <div class="error">{{ form.email.errors[0] }}</div>
        {% endif %}

        <label for="password">{{ form.password.label }}</label>
        {{ form.password(size=32) }}
        {% if form.password.errors %}
            <div class="error">{{ form.password.errors[0] }}</div>
        {% endif %}

        {{ form.submit(class="contrast") }}
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a></p>
</section>
{% endblock %}
