{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<section>
    <h1>Регистрация</h1>
    <form method="post" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}

        <label for="email">{{ form.email.label }}</label>
        {{ form.email(size=32) }}
        {% if form.email.errors %}
            <div class="error">{{ form.email.errors[0] }}</div>
        {% endif %}

        <label for="password">{{ form.password.label }}</label>
        {{ form.password(size=32) }}
        {% if form.password.errors %}
            <div class="error">{{ form.password.errors[0] }}</div>
        {% endif %}

        <label for="confirm_password">{{ form.confirm_password.label }}</label>
        {{ form.confirm_password(size=32) }}
        {% if form.confirm_password.errors %}
            <div class="error">{{ form.confirm_password.errors[0] }}</div>
        {% endif %}

        {{ form.submit(class="contrast") }}
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Вход</a></p>
</section>
{% endblock %}
